# Ignoriere das .env-File (Umgebungsvariablen)
.env

# Die auf dem Server gespeicherten Daten
contacts.json
tasks.json
users.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
venv/
.venv/

# Datenbanken (falls SQLite benutzt wird)
*.sqlite3

# VSCode-Einstellungen (optional)
.vscode/
